.app-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-color);
    color: white;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .nav-links {
    display: flex;
    gap: 16px;
  }
  
  
  .main-content {
    margin-top: 64px; 
    margin-bottom:65px ;
    padding: 20px;
    flex:1
  }
  mat-icon {
    font-family: 'Material Icons';
    display: inline-flex;
    vertical-align: middle;
    color: white;
  }
