<div class="container ">
    <div class="card-wrapper">
        <div
            style="width: 300px; height: 500px; display: flex; flex-direction: column;justify-content: space-between;">
            @if(openUpdate){
            <ng-container>
                <app-update-lesson [lessonId]="lessonId" [courseId]="courseId"
                    (updateLessonEvent)="IsupdateLesson()"></app-update-lesson>
            </ng-container>
            }
            
        </div>

        <mat-card class="course-card" id="card" style="width: 500px;">
            <mat-card-header>
                <div mat-card-avatar class="course-image"></div>
                <mat-card-title id="title">{{ (course$ | async)?.title }}</mat-card-title>
                <mat-card-subtitle>ID: {{ (course$ | async)?.id }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Teacher ID:</strong> {{ (course$ | async)?.teacherId }}</p>
                <p><strong>Description:</strong> {{ (course$ | async)?.description }}</p>
                @if((lessons$|async)!==null&&(lessons$|async)!.length>0){
                <ng-container>
                    <p><strong>Lessons:</strong></p>
                    <mat-list>
                        @for(l of (lessons$|async);track l.id){
                        <mat-list-item>
                            <span>Lesson: {{ l.id }} - {{ l.title }}: {{ l.content }}</span>
                            @if(getAuthRole()=='teacher'){
                            <ng-container>
                                <button mat-icon-button color="warn" (click)="deleteLesson(l.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="updateLesson(l.id)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-container>
                            }

                        </mat-list-item>
                        }

                    </mat-list>
                </ng-container>
                }
                @else {
                <p>No lessons available</p>}
            </mat-card-content>
            @if(getAuthRole()=='teacher'){
            <mat-card-actions align="end">
                <button mat-button color="warn" (click)="addLesson()" class="submit-button">add lesson</button>
            </mat-card-actions>
        }
        </mat-card>
    </div>


    <a routerLink="/course" class="course-card">
        <mat-icon class="arrow-icon">arrow_back</mat-icon>
      </a>
      <router-outlet></router-outlet>
</div>
